@page "/"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper


<p>現在時刻が0秒～29秒なら/Counterに飛びます。</p>
<p>現在時刻が30秒～59秒なら/FetchDataに飛びます。</p>

<button class="btn btn-primary" onclick="@Jump">Click to jump another Page</button>

@functions {
    void Jump()
    {
        var sec = DateTimeOffset.Now.Second;
        if (sec >= 0 && sec <= 29)
            UriHelper.NavigateTo("/Counter");
        else
            UriHelper.NavigateTo("/FetchData");
    }
}
