@page "/"

@if (modeSwitch)
{
    <p>Mode is ON!</p>
}
else
{
    <p>Mode is off.</p>
}

<button class="btn btn-primary" onclick="@modeChange">Change Mode</button>

@functions{
    bool modeSwitch = false;
    void modeChange()
    {
        modeSwitch = !modeSwitch;
    }
}